{
	"mcpServers": {
		"supabase": {
			"command": "npx",
			"args": [
				"-y",
				"@supabase/mcp-server-supabase@latest",
				"--access-token",
				"YOUR_SUPABASE_PERSONAL_ACCESS_TOKEN_HERE"
			]
		},
		"browser-tools-mcp": {
			"command": "npx",
			"args": ["-y", "@agentdeskai/browser-tools-mcp@latest"]
		},
		"VercelMCP": {
			"command": "npx",
			"args": ["mcp-remote", "YOUR_VERCEL_DEPLOYMENT_URL"]
		}
	}
}
